<div class="navbar">
  <div class="dropdown">
    <button class="dropbtn">Nav
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/">Home</a>
      <a href="/random">Random</a>
    </div>
  </div>
</div>
